/*
 * Estilos de tu proyecto
 */
body{
	font-family: 'Raleway', sans-serif;
}
 .menu{
 	background-color: #2C3E50;
 	width: 100%;
 	height: 100px;
 	position: fixed;
 	color: white;
 }

.perfil{
	background-color: #18BC9C;
	width: 100%;
	height: 600px;
	align-content: center;
}

a{
	text-align: right;
 	color: white;
 	text-decoration: none; 	
	padding-right: 10px;
	margin-left: 0px;
 }

.one{
	height: 300px;
	width: auto;
	align-content: center;
	margin-top: 138px;
	margin-left: 450px;
}